kubeProxyReplacement: true
k8sServiceHost: {{ k8sServiceHost }}
k8sServicePort: 6443
ipv4NativeRoutingCIDR: 10.244.0.0/16
tunnel: disabled
autoDirectNodeRoutes: true
ipam:
  operator:
    clusterPoolIPv4PodCIDRList:
      - 10.244.0.0/16
    clusterPoolIPv4MaskSize: 19
hubble:
  ui:
    enabled: true
  relay:
    enabled: true
